<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IUserService" />
        <binding name="DefaultNetTcpConfig"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:13000/UserService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IUserService" contract="ServiceRef.IUserService"
        name="NetTcpBinding_IUserService">
      </endpoint>
      <endpoint address="net.tcp://localhost:13001/GameSessionService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfig"
          contract="GameSession.IGameSessionService" name="NetTcpBinding_IGameSessionService">
      </endpoint>
      <endpoint address="net.tcp://localhost:13002/MatchMakerService"
          binding="netTcpBinding" bindingConfiguration="DefaultNetTcpConfig"
          contract="MatchMaker.IMatchMakerService" name="NetTcpBinding_IMatchMakerService">
      </endpoint>
    </client>
  </system.serviceModel>
  
</configuration>