<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <services>
      <service name ="UserService.UserService" behaviorConfiguration="mexBehavior">
        <endpoint address="UserService"
                  binding="netTcpBinding" bindingConfiguration="extendedTcpBinding"
                  contract="UserService.IUserService" behaviorConfiguration="extendedEndpointBehaviorConfig"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
            <add baseAddress="net.tcp://localhost:13000"/>
          </baseAddresses>
        </host>
      </service>

      <service name ="GameService.GameSession.GameSessionService" behaviorConfiguration="mexBehavior">
        <endpoint address="GameSessionService"
                  binding="netTcpBinding" bindingConfiguration="extendedTcpBinding"
                  contract="GameService.GameSession.IGameSessionService" behaviorConfiguration="extendedEndpointBehaviorConfig"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/"/>
            <add baseAddress="net.tcp://localhost:13001"/>
          </baseAddresses>
        </host>
      </service>
    
      <service name ="GameService.MatchMaker.MatchMakerService" behaviorConfiguration="mexBehavior">
        <endpoint address="MatchMakerService"
                  binding="netTcpBinding" bindingConfiguration="extendedTcpBinding"
                  contract="GameService.MatchMaker.IMatchMakerService" behaviorConfiguration="extendedEndpointBehaviorConfig"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082/"/>
            <add baseAddress="net.tcp://localhost:13002"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="extendedTcpBinding"
                 closeTimeout="00:03:00"
                 openTimeout="00:03:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:03:00"
                 maxBufferPoolSize="524288"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647">
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="extendedEndpointBehaviorConfig">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>