<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:13000/UserService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserService" contract="ServiceRef.IUserService"
                name="NetTcpBinding_IUserService">
                <identity>
                    <userPrincipalName value="ALEXANDER-PC\Alom2_000" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>